define(SYSTEM_HOSTNAME, XXXXXXXXXXXXXX)
define(ROOT_PASSWORD, XXXXXXXXXXXXXX)
define(TTY_CONSOLE, yes)
define(USER, admin) 
define(USER_PASSWORD, XXXXXXXXXXXXXX)
define(PUBLIC_KEY, XXXXXXXXXXXXXX)
define(TIMEZONE, US/Central)
define(OPENBSD_MIRROR, cdn.openbsd.org)
